<ion-menu side="start" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Flanders Module</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-menu-toggle>
      <ion-item routerLink="Payrolls">
        <ion-label>Payroll</ion-label>
      </ion-item>
      <ion-item routerLink="Payrolls">
        <ion-label>Account Receivable</ion-label>
      </ion-item>
    </ion-menu-toggle>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>User's Dashboard</ion-title>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="dashboardBackground"> </ion-content>
</div>
